<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizzzzza</title>
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <partial name="_NavBar" />
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="container">
        <partial name="_Footer" />
    </footer>

    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.js"></script>

    @RenderSection("Scripts", false)
    @*<script src="~/dist/app.js" defer></script>*@
</body>
</html>