<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pizzzzza</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Registrering</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">Menukort</a>
                </li>
                <ul class="navbar-nav ml-sm-auto align-items-center">
                    <li class="@(ViewBag.language == "danish" ? "language-selected" : null)">
                        <img src="~/images/flag-denmark.png" asp-append-version="true" onclick="SelectLanguage('danish')"/>
                    </li>
                    <li class="ml-2 language-selected">

                        <img src="~/images/flag-united-kingdom.png" asp-append-version="true" onclick="SelectLanguage('english')"/>
                    </li>
                    <li class="ml-5">
                        <img src="~/images/shopping-basket-solid-white.png" asp-append-version="true"/>
                        <span class="badge-light badge">3</span>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>