@model IEnumerable<WebBackPizzzzza.web.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>
<hr />

<div class="d-flex flex-wrap">
    @foreach (var product in Model)
    {
        <div class="p-2 pb-4">
            @await Component.InvokeAsync("Product", product)
            <a asp-controller="Products" asp-action="AddToBasket" asp-route-id="@product.Id" class="d-flex mt-2 justify-content-center">Tilføj</a>
        </div>
    }

</div>   
<div class="text-right">
    <a asp-controller="Order" asp-action="Index" class="btn btn-primary">Gå til bestilling</a>
</div>