@model IEnumerable<WebBackPizzzzza.web.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    .basket-btn {
        align-items: center;
        display: flex;
        height: 25px;
        justify-content: center;
        width: 25px;
    }

    .basket-badge {
        align-items: center;
        display: flex;
        height: 25px;
        justify-content: center;
        margin: 0 10px 0 10px;
        width: 25px;
    }
</style>

<h1>Menukort</h1>
<hr/>

<div class="d-flex flex-wrap">
    @foreach (var product in Model)
    {
        <div class="p-2 pb-4">
            @await Component.InvokeAsync("Product", product)

            <div class="d-flex justify-content-center mt-2">
                <a asp-controller="Products" asp-action="RemoveFromBasket" asp-route-id="@product.Id" class="btn btn-primary basket-btn">-</a>
                <span class="badge badge-secondary basket-badge">@product.Basket</span>
                <a asp-controller="Products" asp-action="AddToBasket" asp-route-id="@product.Id" class="btn btn-primary basket-btn">+</a>
            </div>
        </div>
    }
</div>

<div class="text-right">
    <a asp-controller="Order" asp-action="Index" class="btn btn-primary">Gå til bestilling</a>
</div>